.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 900;
    animation: mudarCor 20s infinite;
    text-shadow: 3px 3px 0px black;
  }
  
  .rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 200px;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 2px;
  }
  
  #colon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 200px;
  }
  
  .circle {
    background-color: #d9d9d9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 0px;
  }

  .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: #62288A;
    width: 35%;
    border-radius: 30px 30px;
  }

  .btn {
    border-radius: 20px;
    margin: 0px 5px;
    height: 90%;
    font-size: 1.01em;
    
  }

  .btn:hover{
    color: #ffffff;
  }
  
  @keyframes mudarCor {
    0% {
      color: #d90452;
    }
  
    
    50% {
      color: #04c4d9;
    }
  
   
    100% {
      color: #0bd904;
    }
}

@media (max-width: 1024px){
  .btns{
    width: 50%;
  }
}

@media (max-width: 768px) {
    h1 {
      font-size: 2em;
    }

    .clock {
        font-size: 2em;
      }
    
    .rectangle, #colon {
        width: 100px;
        height: 150px;
    }
    .btns{
      width: 60%;
    }
}
  
@media (max-width: 480px) {
    h1 {
      font-size: 1.5em;
    }
    .clock {
        font-size: 1.5em;
    }
    
    .rectangle, #colon {
        width: 80px;
        height: 120px;
    }
    .btns{
      width: 40%;
      flex-direction: column;
    }
    .btn{
      margin: 0.5em;
      width: 80%;
    }
}